$.ADJITEST diff=bbcbasic
$.RTOOL diff=bbcbasic
$.ADVALTEST diff=bbcbasic
$.JKTEST diff=bbcbasic
$.YBIT diff=bbcbasic
$.INPTEST diff=bbcbasic
$.FINDINMOS diff=bbcbasic
$.81TEST diff=bbcbasic
$.LOADER diff=bbcbasic
$.ADJIBUG diff=bbcbasic
$.DUMPHAZEL diff=bbcbasic
$.FSINFO diff=bbcbasic
$.TESTFCC0 diff=bbcbasic
